body{
    font-family:'Playfair Display' , serif;
    
}

.mainheader{
    background-color: #f2f2f2;
}

a:link {
    text-decoration: none;
}

.top-nav{
    list-style-type: none;
    text-align: center;

}

.top-nav li{
    display: inline-block;
    padding-left: 5px;
}

a:hover{
    text-decoration: underline;
}

.secondary-nav{
    list-style-type: none;   
}

.secondary-nav li{
    display: inline-block;
    padding-left: 10px; 
}

h1{
    color: #1a1a1a;
    font-size: 48px;
    margin-left: 175px; 
    padding-top: 10%;   
}

.headerdescription{
    margin-left: 175px;
    margin-right: 175px;
}

.sharebutton{
    margin-left: 175px;

}

.introtext{
    margin-left: 175px;
    margin-right: 175px;
    font-size: 18px;
}

.bookcover{
    margin-left: 190px;
    box-shadow: 1px 1px 7px #000000;
}

.secondbookcover{
    margin-left: 190px;
    box-shadow: 1px 1px 7px #000000;
}


.bookheaderandparagraphs {
    margin-left: 450px;
}

.footernav{
    list-style-type: none;

}

.footernav li{
    display: inline-block;
}