body{
    font-family:'Playfair Display' , serif;
}

.mainheader{
    background-color: #f1f1f1;
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 25px;
}

a:link {
    text-decoration: none;
}

.logo {
    display: inline;
    float: left;
    width: 93px;
    height: 38px;
    background: url(images/loydslogo.svg);
    background-repeat: no-repeat;
    background-size: 93px;
    background-color: #000;
    margin-left: 175px;
}

.top-nav{
    list-style-type: none;
    text-align: center;
    width: 50%;
    padding-top: 10px;
    padding-left: 1px;
    padding-right: 1px;
    margin: 0 auto;
    color: #000;
    border-bottom: 1px solid #ccc;
}

.top-nav li{
    display: inline-block;
    padding: 0px 5px 0px 5px ;
    border-right: solid 1px;
    font-size: 14px;
}

.topnavlinks{
    color: black;
}

a:hover{
    text-decoration: underline;
}

.secondary-nav{
    list-style-type: none;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
    bottom: auto;   
}

.secondary-nav li{
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -3px;
    background-color: #282f54
}

.secondnavlinks{
    font-weight: 600;
    color: white;
}

.crumbs{
    padding-top: 2%;
    margin-left: 175px;
    color: #909cb9;
    font-size: 20px;
}

h1{
    color: #262626;
    font-size: 48px;
    margin-left: 175px; 
    margin-top: 0;
    padding-top: 5%;  
    /* outline: 1px solid red;  */
}

.headerdescription{
    margin-left: 175px;
    margin-right: 175px;
    /* outline: 1px solid red; */
}

.sharebutton{
    margin-left: 175px;

}

.introtext{
    margin-left: 175px;
    margin-right: 175px;
    margin-bottom: 25px;
    font-size: 18px;
    /* outline: 1px solid red; */
}

.row{
    width: 100%
}

.img-column{
    display: inline-block;
    width: 30%;
    height: auto;
    /* outline: solid 1px red; */
}

img{
    margin-left: 190px;
    max-width: 100%;
}

.content-column{
    display: inline-block;
    width: 55%; 
    padding-left: 10px;
    padding-right: 25px;
    padding-bottom: 35px;
    /* outline: solid 1px red; */
}

.bookparagraphs{
    margin-bottom: 30px;
}

.booklink{
    background-color: #0a4bb7;
    color: white;
    padding: 15px;
}

.footer{
    background-color: #141414;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-content{
    margin-left: 175px;
    margin-right: 175px;
    color: #ffffff;
    font-size: 18px;
}

.footernav{
    list-style-type: none;
    /* outline: 1px solid red; */
}

.footerlinks {
    color: #fff;
}

.footernav li{
    display: inline-block;
    padding: 0 5px;
    border-right: solid 1px;
    
}

.wrapper {
    width: 72%;
    margin: 0 auto;
}
